@import "base.css";

header{
    min-width: 100%;
    overflow: hidden;   
    background-color: #0f0f0f;
}

header div{
    display: flex;
    justify-content: space-between;
}

.title{
    height: 54px;
}

.title h1{
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 58px;
    letter-spacing: .4px;
    text-transform: uppercase;
}

nav {
    text-align: right;
    height: 59px;
    font-size: 100%;
}

nav ul{
    list-style: none;
    font-size: 0;
}

nav ul li{
    display: inline;
    line-height: 58px;
    cursor: default;


}

nav ul li a{
    font-size: 14px;
    color: white;
    font-weight: 798;
    text-decoration: none;
    letter-spacing: .8px;
    text-transform: none;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

nav ul li a:hover{
   opacity: 0.6;

}

.home:hover{
    background-color: #8a8c31;

 }

 .home a:hover{
    opacity: 1;

 }

nav ul li+ li{
    margin-left: 25px;
}

.home{
    background-color:#bfc24f;
    padding: 10px 20px;
    border-radius: 15px;
    padding-top: 20px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}







footer{
    min-width: 100%;
    background-color: black;
    overflow: hidden;

 
    color: white;
}

footer div{
    display: flex;
    justify-content: space-between;
   
    height: 100px;
}

.footer-container{
    width: 90%;
    margin: 0 auto;
    
    
}

.social-container ul{
    line-height: 110px;
}

.social-container ul li{
    display: inline;
    
   
}

.social-container ul li +li{
   margin-left: 20px;
   
}

.fab{
    font-size: 30px;
 
}

.copywrite-container{
    line-height: 100px;
    text-align: right; 
   
}
